
.main-logo {
  left: 50%;
  right: 50%;
  margin: 0 auto;
}

.github-icon {
  display: block;
  width: 100px;
  height: auto;
  float: right;
  margin-right: 1em;
}

.download-icon {
  display: block;
  width: 150px;
  height: auto;
  float: left;
}

.main-icon {
  display: block;
  width: 200px;
  height: auto;
}
