* {
  box-sizing: border-box;
}

body {
  background: indianred;
}



@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.navbar{
  background: indianred;
  margin-bottom: 0;
}

.parallax{
  background-image: url('people-coffee-tea-meeting.jpg');

  /* Set a specific height */
  height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fa-github{
  font-size: 200%;
}

.icons{
  margin-top: 50px;
}

.desc{
  margin: 10px 0;
}

#main {
  margin: 0 0;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';

